{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Home</h1>

    <p>
        Welcome to my site. You can find here various projects I've made.
    </p>

    <h2>What to expect</h2>
    <ul>
        <li>3d printed stuff</li>
        <li>electronics gatgets</li>
    </ul>
{% endblock %}
